/* Global custom fonts if needed */

.Logo-font {
  font-family: cursive;
}

.urdu-font {
  font-family: 'Noto Nastaliq Urdu', serif;
}

.loading-line {
  height: 100%;
  width: 100%;
  background: #2563eb;
  animation: loadingMove 1.2s linear infinite;
}

@keyframes loadingMove {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.invoice-a4 {
  width: 210mm;
  /* min-height: 297mm; */
  margin: auto;
  background: white;
  transform-origin: top center;
}

/* Desktop, mostly no scaling */
@media (min-width: 1024px) {
  .invoice-a4 {
    transform: scale(1);
  }
}

/* Tablets */
@media (max-width: 1023px) {
  .invoice-a4 {
    transform: scale(0.9);
  }
}

/* Phones */
@media (max-width: 640px) {
  .invoice-a4 {
    transform: scale(0.75);
  }
}